@model IMS_Dashboard.ViewModels.SuppliersVM.CreateSupplierViewModel

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Product</h4>
            @* <p class="card-description"> Basic form elements </p> *@
            <form asp-action="CreateSupplier" class="forms-sample" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="SupplierName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="SupplierName" type="text" class="form-control" placeholder="Enter Supplier Name">
                                <span asp-validation-for="SupplierName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="ContactName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ContactName" type="text" class="form-control" placeholder="Enter Person Name">
                                <span asp-validation-for="ContactName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Enter Phone Number">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" type="text" class="form-control" placeholder="Enter Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address" type="text" class="form-control" placeholder="Enter Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="City" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="City" type="text" class="form-control" placeholder="Enter City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="State" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="State" type="text" class="form-control" placeholder="Enter State">
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Country" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Country" type="text" class="form-control" placeholder="Enter Country">
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="PostalCode" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="PostalCode" type="text" class="form-control" placeholder="Enter Postal Code">
                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Notes" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <textarea asp-for="Notes" class="form-control" rows="4" placeholder="Enter Description"></textarea>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>

            </form>
        </div>
    </div>
</div>

